#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%); 
    min-height: 100vh;
    text-align: center; 
    display: flex; /*Deixar os elementos flexiveis. Para centralizarmos verticalmente o conteúdo, poderíamos usar align-itens:center;*/
}

#container {
    margin: auto;
   /* width: 90%;*/ /*Utilizamos essa propriedade para aumentar a margin horizontal. Antes não havia tamanho definido e ele utilizava 100% do espaço horizontal da tela*/
    width: min(90%, 112rem); /*Se 112rem for menor que 90%, então aplique o 90%. Caso 90% seja maior que 112rem, então o limite será 112rem. Outra maneira de pensar é que a função pegará sempre o valor mínimo entre esses 2 valores*/
}

.location, h1, .visit p {
    height: 16vh;
}

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
    font-size: clamp(4rem, 8vw, 8.4rem); /*defino limite inferior, superior e ideal*/
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;
    border: none;
    border-radius: 3rem; /*Curvatura, arredondamento*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /*Como o elemento anterior ao a(.visit) nao possui display flex, o margin auto funcionará apenas na horizontal*/
    transition: background 200ms;
    animation-delay: 250ms;

}

.visit a:hover {
    background: #96feff;    
}

/* Desktop version */

@media (min-width: 760px) {/*se o dispositivo estiver acima de 760px aplique os atributos*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .location, h1, .visit p {
        height: initial; /*valor antes de aplicarmos css*/
        text-align: initial; /*para alinhamento vertical*/
    }

    .location {
        text-align: right;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    main h1 {
        font-weight: bold;
        width: min(300px, 80%);
        line-height: .88;
        margin clamp(10%, 9vh, 12%) 0 4rem;
    }
    
    .visit {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .visit p {
        line-height: 1.5;
        width: clamp(20rem, 20vw, 30rem); 
        font-size: 2.4rem;
    }
    
    .visit a {
        margin: initial;
    }
}
